.descriptionWrapper 
{
    width : 90%;
    display: flex;
    flex-direction: column;
    
}

.label{
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
}

.textarea{
    font-size: 1.05rem;
    border-radius: 6px;
    width: 40%;
    min-height: 100px;
    width: 100%;
    resize: none;
    padding: 6px;
    min-height: 15ch;
    box-sizing: border-box;
}
