.questionTitle{
    max-height: 144px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 65ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}