.answerCardWrapper{

   --padding : 12px;
    display: flex;
    flex-direction: column;
    padding : var(--padding);
    width : min(55ch , 100% - calc(2*var(--padding)));
    margin-left:auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    background-color: #F0ECCF;
    border: 1px solid currentColor;
    border-radius: 10px;
   

}